button{
    color: white;
    border-color: white;
    font-size: large;
    background-color: teal;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
h2{
    font-size: x-large;
    color: teal;
    font-size: x-large;

    
}

.banner{
    margin-top: 20px;
}

.initial-header{
    margin-top: 30px;
}

p{
    text-align: center;
}
